body {
  background-color: black;
  color: white;
}

.child {
  width: 150px;
  height: 150px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  width: 500px;
  background-color: purple;
  display: flex;
  justify-content: space-between;
}

.avatar {
  display: flex;
}
