<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/flex.css" />

  <title>Flexbox Fun</title>
</head>
<body>
  <h1>Flexbox Fun!</h1>
  <div class="parent">
    <div class="avatar">
      <div class="child red"></div>
      <div class="child green"></div>
    </div>
    <div class="child blue"></div>
  </div>

  <div class="header">
    <div>Alice</div>
    <div>@alicesomeone</div>
  </div>
</body>
</html>
