<head>
  <title>My profile page!</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <!-- <link rel="stylesheet" href="/styles/my-styles.css" />
    <link rel="stylesheet" href="/styles/other-styles.css" /> -->
</head>

<body>
  <h1 class="main-heading">Welcome to my site!!</h1>
  <h1>Hello world</h1>
  <p class="image">This is where all my best stuff is</p>

  <div>
    <img 
      class="image"
      id="profile-photo"
      src="https://andydlindsay-portfolio.s3.amazonaws.com/lighthouse/profile.jpeg" 
      alt="profile photo"
    />
  </div>

  <aside>Contact me! I need a <strong>job</strong>!</aside>
  <footer>Copyright 2021</footer>
</body>
